@import "tailwindcss";
/* Define default color scheme */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Apply CSS variables */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
.desktop-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}